body{
    background-image: url("825678.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .converter {
    box-shadow: 0 0 10px 0 rgb(255, 255, 255);
    background: #000000;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: aqua;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #00d5ff;
  }
  
  input, select, button {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 4px 8px gray;
  }
  
  button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .result {
    margin-top: 20px;
    color:aqua;
    font-size: 18px;
  }
  